//共通
/* 範囲外 */
.unavailable-cell {
  background-color: #a9a9a9;
}
/* 科目/教師*/
.lesson-holiday-cell {
  background-color: #f4c9c9;
}
/*日付*/
.date-holiday-cell {
  background-color: #f4c9c9;
}

//PC用scss
@media screen and (min-width: 768px) {
  .timetable {
    writing-mode: vertical-lr;
    border-collapse: collapse;
    table-layout: fixed;
    width: 1200px;
    height: 660px;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px #333 inset;
  }

  .register {
    width: 1120px;
    height: 580px;
  }
  .horizontal-writing {
    box-shadow: 0 0 0 1px #333 inset;
    writing-mode: horizontal-tb;
    word-break: break-word;
  }

  .vertical-head {
    width: 80px;
    height: 80px;
  }
  .dayOfWeek-head {
    width: 80px;
    height: 40px;
  }
  .lesson-cell {
    text-align: center;
    width: 160px;
    height: 90px;
    font-weight: bold;
  }
  /* 科目/教師*/
  .lesson-cell-box {
    margin: 5px;
  }
  /* 日付 */
  .date-cell {
    width: 160px;
    height: 80px;
    word-break: break-word;
  }
  .date-holiday-cell {
    background-color: #f4c9c9;
  }
  /* 時限　*/
  .period-cell {
    width: 80px;
    height: 90px;
  }
  /* 曜日 */
  .dayOfWeek-cell {
    word-break: break-word;
    width: 160px;
    height: 40px;
    color: #ffffff;
    background-color: #5160ae;
  }
}

//モバイル用scss
@media only screen and (max-width: 767px) {
  .timetable {
    writing-mode: vertical-lr;
    border-collapse: collapse;
    table-layout: fixed;
    max-width: 360px;
    width: 100%;
    height: 292px;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px #333 inset;
    font-size: 14px;
    margin: 0 auto;
  }
  .horizontal-writing {
    box-shadow: 0 0 0 1px #333 inset;
    writing-mode: horizontal-tb;
    word-break: break-word;
  }
  .vertical-head {
    max-width: 24px;
    width: 100%;
    height: 36px;
  }
  .dayOfWeek-head {
    max-width: 24px;
    width: 100%;
    height: 16px;
  }

  .lesson-cell {
    text-align: center;
    max-width: 48px;
    width: 100%;
    height: 40px;
    font-weight: bold;
  }
  /*　科目/教師 */

  .lesson-cell-box {
    margin: 0;
  }
  .font-size-xl {
    font-size: 15px;
  }
  .lesson-cell .font-size-l {
    font-size: 8px;
  }
  .lesson-cell .font-size-m {
    font-size: 6px;
  }
  .lesson-cell .font-size-s,
  .lesson-cell .font-size-xs {
    font-size: 4px;
  }
  /*　日付 */

  .date-cell {
    max-width: 48px;
    width: 100%;
    height: 36px;
    word-break: break-word;
  }
  .date-holiday-cell {
    max-width: 48px;
    width: 100%;
    height: 36px;
    background-color: #f4c9c9;
  }
  .date-cell-margin {
    margin-top: 0;
  }
  .date-holiday-cell .font-size-l,
  .date-cell .font-size-l {
    font-size: 8px;
  }
  .date-holiday-cell .font-size-m,
  .font-size-s {
    font-size: 5px;
  }
  /*　時限 */

  .period-cell {
    max-width: 24px;
    width: 100%;
    height: 40px;
  }
  /*曜日 */

  .dayOfWeek-cell {
    word-break: break-word;
    max-width: 48px;
    width: 100%;
    height: 16px;
    color: #ffffff;
    background-color: #5160ae;
  }
  .dayOfWeek-cell .font-size-l {
    font-size: 10px;
  }
}
